/* Add CSS Styling */
.one,
.three,
.five {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: #90ee90;
    font-weight: bold;
    font-size: 24px;
}
